Owner: <%= owner.escape("username") %>
<br>
Time:
<div class="edit" data-field="time">
  <%= new Date(event.escape("time")).toLocaleString() %>
</div>
<br>
Address:
<div class="edit" data-field="address">
  <%= event.escape("address") %>
</div>
<br>
Number of Slots:
<div class="edit" data-field="num-slots">
  <%= event.escape("num_slots") %>
</div>
<br>
Description:
<div class="edit" data-field="description">
  <%= event.escape("description") %>
</div>
<br>
<br>

<h3>Attendees:</h3>
<ul class="attendees">

</ul>

<h3>Invitees:</h3>
<ul class="invitees">

</ul>

<% if (owner.id === parseInt(CapstoneProject.USER_ID)) {  %>
  <div class="invite-form">
  </div>
<% } %>
